/target
Wavebreaker.toml
WavebreakerRadio.toml
Rocket.toml
.sqlx
.env
.cargo
radio/*

# VSC-specific
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets